@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fontsource/roboto-condensed';

/*
:root{
    --bs-primary: #ff6f00;
    --bs-blue: #ff6f00;
}
*/




body {
    background-color: #fcfcfc;
    font-family: 'Roboto Condensed', sans-serif;
}

a{
    color: #212529;
    text-decoration: none;
}

a:hover{
    color: #333;
    text-decoration: none;
}

.navbar{
    -webkit-box-shadow: 0px 10px 15px 0px rgb(0 0 0 / 35%);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0365);
    box-shadow: 0px 10px 15px 0px rgb(0 0 0 / 35%);
    transition: all 200ms
}

.container {
    max-width: 960px;
}

#page .cover{   
    height: 350px;
    position: relative;
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    */
}

#page .cover img{
    height:100%;
    object-fit: cover;
    width:100%;
}

#page .cover .cover-caption {
    position: absolute;
    bottom: 4em;
    text-align: center;
    width: 100%;
}

/*
background-size: cover;background-repeat: no-repeat;background-position: center;background-image: 
*/
#page .cover h1{
    color: #FCFCFC;
}

.container-logo{
    position: absolute;
    z-index: 1;
    top: 0;
    text-align: center;
    width: 230px;
}

.container-logo em{
    font-size:0.8em;
}

#logoApp{
    display: block;
    width: 100%;
}

#logoApp img{
    width: 100%;
}

#footer{
    color: #fcfcfc;
}

#header a, #footer a{
    color: #fff;
    text-decoration: none;
}

#header a:hover, #footer a:hover{
    color: #edeeef;
}

#header .dropdown-toggle::after{
    vertical-align: 0.155em;
}

#header a, #footer a {
    color: #fcfcfc;
    transition: color .15s ease-in-out;
}

#header a.dropdown-item {
    color: #212529;
}

/*
#header a.dropdown-item:link {
    background-color: #ff6f00;
}


#header a.dropdown-item:visited {
    background-color: #ff6f00;
}
#header a.dropdown-item:hover {
    background-color: #ff6f00;
    color: #fcfcfc;
}
*/




/*
#header a.dropdown-item:active {
    background-color: #ff6f00;
}
*/


/*widget-language-toggle*/
.widget-language-toggle{
    
    padding: 0.2em;
    border-radius:  10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.widget-language-toggle a.btn-link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55);
}

.widget-language-toggle a.active{
    background: #fff;
    color: rgba(0, 0, 0, 0.55)!important;
    
}

.widget-language-toggle a:nth-child(1){
    border-radius:  5px 0px 0px 5px;
    border: solid 2px #fff;
    border-right: 0; 
}

.widget-language-toggle a:nth-child(2){
    border-radius:  0px 5px 5px 0px;
    border: solid 2px #fff;
    border-left: 0;
}

.nav-link{
    text-align: center;
}

#header .offcanvas-top{
    height: 25vh;
}

#custom-search-input{
    padding: 3px;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}




/*
* Catalog
*/

#page.catalog .filter label{
    top: -0.8em;
    left: 1em;
}


#page.catalog .filter select{
    color: #00a6eb;
}

#page.catalog .product .caption h3{
    font-size: 1.2em;   
    font-weight: bold;
}


#entries{
    min-height: 50vh;;
}

#entries a{
    color: #212529;
    text-decoration: none;
}


#entries .wrapper-img{
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

#entries .wrapper-img a.product-item{
    display: block;
    overflow: hidden;
    width: 100%;
    height: auto;
}

#entries .wrapper-img a img{
    -webkit-transition: -webkit-transform 0.5s ease-out,-webkit-transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out,-webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out,-webkit-transform 0.5s ease-out;
    display: block;
}

#entries .wrapper-img a:hover img{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}


/*Scroll to top button*/
.btn-scroll-top{
    font-size: 1rem;
    display: block;
    position: fixed;
    right: -4.125rem;
    bottom: 1.25rem;
    width: 2.75rem;
    height: 2.75rem;
    transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55),opacity .3s,background-color .25s ease-in-out;
    border-radius: 50%;
    background-color: rgba(43,52,69,.25);
    color: #fff;
    text-align: center;
    opacity: 0;
    z-index: 1025;

}

.btn-scroll-top.show {
    right: 1.25rem;
    opacity: 1;
}

.btn-scroll-top:hover {
    background-color: rgba(0,0,0,.25)!important;
    color: #fcfcfc;
}

.btn-scroll-top:hover .btn-scroll-top-tooltip{
    visibility: visible;
        opacity: 1;
}


.btn-scroll-top>.btn-scroll-top-icon {
    font-size: .875rem;
    font-weight: bold;
    line-height: 2.625rem;
}


.btn-scroll-top .btn-scroll-top-tooltip {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    transition: opacity .25s ease-in-out,visibility .25s ease-in-out;
    visibility: hidden;
    opacity: 0;
}
  
  #goToTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  
.flex-equal > * {
    flex: 1;
    }
    
#mainCarousel img{
    height:100vh;
    min-height: 568px;
    object-fit: cover;
    width:100%;
}



@media (min-width: 1200px) {
    /*
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
    */
}

@media (max-width: 768px) {
    #mainCarousel img{
        height:auto;
        width:100%;
        min-height: 350px;
    }

    #logoApp{
        display: block;   
        width: 220px;
    }


    #header .dropdown-menu a.dropdown-item{
        text-align:center
    }

    #header .container-logo em{
        display:none!important;
    }
    
}


/*
background-color: lightgray;
.et_pb_section_1.section_has_divider.et_pb_bottom_divider .et_pb_bottom_inside_divider {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNGRkZGRkYiPjxwYXRoIGQ9Ik03MjUuMjkgMTAxLjJDMzI1LjIyIDEyMi40OCAwIDAgMCAwdjE0MGgxMjgwVjBzLTE1NC42NCA3OS45Mi01NTQuNzEgMTAxLjJ6IiBmaWxsLW9wYWNpdHk9Ii4zIi8+PHBhdGggZD0iTTU1Ni40NSAxMTkuNzRDOTUzLjQxIDE0MCAxMjgwIDE0IDEyODAgMTR2MTI2SDBWMHMxNTkuNSA5OS40OCA1NTYuNDUgMTE5Ljc0eiIgZmlsbC1vcGFjaXR5PSIuNSIvPjxwYXRoIGQ9Ik02NDAgMTQwYzM1My40NiAwIDY0MC0xNDAgNjQwLTEzOXYxNDBIMFYwczI4Ni41NCAxNDAgNjQwIDE0MHoiLz48L2c+PC9zdmc+);
    background-size: 100% 100px;
    bottom: 0;
    height: 100px;
    z-index: 1;
    transform: scale(1,1);

.et_pb_section_1.et_pb_section {
    padding-top: 80px;
    padding-bottom: 14px;
    background-color: #00B6AC!important;
}
*/
