/*
body {
    background: lightcyan;
}
*/

.markdown-preview {
    margin-top: 10px;
    border: 2px dashed #da3735;
    padding: 5px;
}

.accordion-body .custom-file-label.form-control-label{
    width: 100%!important;
}