{% set gallery = obj_widget.gallery %}
{% set images = gallery.getGalleryImagesByLanguage(app.request.getLocale()) %}

<div id="owlCaroucelContainer" class="container my-3">
    <div id="owlCaroucel" {{stimulus_controller('owl-caroucel')}} class="owl-carousel owl-theme">
        {% for image in images %}
            <div class="item">
                <img class="" src="{{image.getImageUrl()}}">
            </div>    
        {% endfor %}
    </div>
</div>