<div class="primary_color subscribe m-5 p-5" >
    <div class="secondary_color subscribe-child m-3 p-3">  
        <form class="subscribe-form" action="">
            <p>Subscribe message</p>
            <input type="email" value="" class="form-control">
            <button class="btn btn-success" type="submit">Subscribe</button>
        </form>
    </div>
</div>